.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.right {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}



.splitPane{
  display: flex;
  flex-flow: row nowrap;
}


.hidden{
  width: 0;
  transform: translateX(100px) ;
  transition: all 1s;
  background: inherit;

}
/*  */
.collapsed{
  width: 30vw;
  transition: width 2s;
  background-color: #404753;
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
  max-height: 100%;
  font-size: small;

}
.notebookSpace {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  transition: width 2s;
  background-color: #404753;
}
/*  */
.title {
  font-size: medium;
}

.notebook {
  max-width: 30vw;

  width: 90%;
  max-height: 35vh;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem; 

  display: flex;
  flex-flow: row nowrap;

  border: #282c34 1pt solid;
  border-radius: 3px;
  background: lightgrey;

  box-shadow: 5px 10px 5px;
  cursor: pointer;

}
.notebookSpine {
  background: #282c34;
  min-width: 10px;
}
.notebookHead {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.activeNb{
  transform: translate(5px,5px);
  background-color: rgba(13,110,253,.25);
  box-shadow: inset 0px 0px 5px;
}

.noteIndex {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.noteIndex{
  width: 90%;
  transition: width 1s;

}

.notetakingHead {
  border-bottom: #000000 1px solid; 
  border-top-left-radius: 10px;
  border-top-right-radius: 5px;
  background-color: rgba(0, 58, 146, 0.733);
  color: white;


}


.notetakingHead{
}

.notetakingBody {
  mask-image: linear-gradient(to bottom, black 1%, transparent 100%);
  height: 100%;
  padding: 0.5rem;
}

.notetakingWindow {
  border-radius: 10px;

  width: 20%;
  min-width: 220px;
  height: 40vh;
  background-color: #D9DBF1;
  margin: 1rem;
  overflow: hidden;

  color:rgb(44, 44, 44);
  text-decoration: none;

  cursor: pointer;

}
.notetakingWindow:hover {
  transform: translate(0px, 10px)
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.rootDisplay {
  background: rgb(44, 44, 44);
}

.navBar {
  background: #D0CDD7;
  min-height: 50px;
  width: 100vw;
  padding: 1rem;
  box-shadow: #404753 0px 0px 5px inset;
  /* border: lightgrey 1px solid; */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
